/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

a:hover {
  @apply underline text-black;
}

body {
  color: #505050;
}

button {
  @apply bg-gray-300 border border-gray-400 rounded px-4;
}

button:hover {
  @apply bg-gray-400;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply font-bold text-2xl;
}

h3 {
  @apply font-bold mb-2 mt-2 text-lg;
}

hr {
  @apply border-gray-400 border-t;
}

img {
  @apply inline-block;
}

input {
  @apply border border-gray-400 rounded;
}

input:focus {
  @apply border-gray-500;
}

ol {
  @apply list-decimal;
}

p {
  @apply mb-2 mt-2;
}

summary {
  @apply cursor-pointer;
}

.comment img {
  @apply h-8;
}

.min-w-xs {
  min-width: 20rem;
}

@tailwind utilities;
